/* Landing page layout
   ========================================================================== */
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  position: relative;
}

body {
  background: $bc-black;
  color: $body-color;
  font-family: $font-type-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal-base;
  line-height: $line-height;
  padding-top: $main-menu-height;
}

.container-fluid {
  padding: $xl 0;
}
