/* Main menu
   ========================================================================== */
/* Variables file: assets/stylesheets/components/main-menu/main-menu.variables.scss */
.main-menu {
  background-color: $main-menu-bg;
  border-right: $main-menu-border;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: $aside-width;
  z-index: $main-menu-zindex;

  .selected {
    background: $selected-bg;
    border-radius: $selected-border-radius;
    color: $selected-color;

    &:hover {
      color: $selected-hover-color;
    }
  }

  @media screen and (max-width: $sd-max) {
    display: none;
  }

  ul,
  li {
    padding: 0;
  }

  li a,
  .li-no-link {
    color: $main-menu-link-color;
    display: block;
    font-weight: $font-weight-normal-base;
    margin: $main-menu-li-no-link-margin;
    padding: $main-menu-li-no-link-padding;
  }

  hr {
    border-top-color: $main-menu-hr-color;
  }

  h6 {
    color: $main-menu-title-color;
    margin: 0;
    padding: $main-menu-li-h6-padding;
  }
}

.mm-navigation-container {
  width: 100%;

  /* Fixed size for icons to fix the fliker when are not done loaded. */
  i {
    font-size: $main-menu-i-font-size;
    height: $main-menu-i-size;
    width: $main-menu-i-size;
  }
}

.mm-navigation-close {
  cursor: pointer;
  margin-right: -$m;
  padding: $m;
}

/* Collapsed menu style.
  ========================================================================== */
.collapsed-sidebar {

  &.main-menu {
    width: $mm-collapsed-width;

    li a {
      margin: 0;
    }
  }

  .mm-navigation-close {
    left: 0;
    margin-right: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .footer-side-menu,
  .hide-collapsed,
  span {
    display: none;
  }

  // Set content margin same as menu
  & ~.content {
    margin-left: $mm-collapsed-content-margin;
    @media screen and (max-width: $sd-max) {
      margin-left: 0;
    }
  }

  .menu-headers {
    max-height: $mm-collapsed-max-height;
    max-width: $mm-collapsed-max-width;
    visibility: hidden;
  }
}
