a.js-video-container.modal-link.js-launch-modal.news-card-container(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='#')
  .card.card-horizontal.featured.video-content
    .card-content
      header
        h3
        .card-date-holder
          i.material-icons.md-18
            | today
          .card-date
      figure
        img.img-responsive(src='#')
    footer
      span
        | Watch video
