/* Paragraphs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/paragraphs.scss */
p {
  font-size: $p-font-size;
  line-height: $line-height;
  margin-top: $p-margin-top;
}
