/* Titles
   ========================================================================== */
/**
* Titles
*
* Typography variables: /assets/stylesheets/base/variables/typography.scss
* Titles variables: /assets/stylesheets/base/variables/titles.scss
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/

h1,
h2,
h3 {
  font-weight: $font-weight-normal-base;
}

h4,
h5,
h6 {
  font-weight: $font-weight-light-base;
  line-height: 1.5em;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold-base;
}

.title-line {
  margin-bottom: $xl;
  width: 100%;

  &::after,
  &::before {
    border-top: 1px solid #ddd;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }

  &::before {
    margin-right: $xl;
  }

  &::after {
    margin-left: $xl;
  }
}

article {

  h2:first-of-type,
  h3:first-of-type {
    margin-bottom: $xl;
  }

  h1:first-of-type {
    margin-bottom: $s;
  }
}

.title-strong {
  font-weight: $font-weight-bold-base;
}

.title-no-margings {
  margin: 0;
}

.subheadline {
  font-size: $h4-font-size;
  font-weight: $font-weight-light-base;
}
