/* Alerts variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */

/* Shared */
$alert-close-color: $bc-gray-900;

/* Global alerts */
$alert-global-h-padding: $s;
$alert-global-v-padding: $l;
$alert-global-text: $bc-white;
$alert-global-link: $bc-blue-500;
$alert-global-success-bg: $bc-green-500;
$alert-global-info-bg: $bc-cerulean-500;
$alert-global-warning-bg: $bc-yellow-900;
$alert-global-danger-bg: $bc-red-500;
$alert-font-size: $font-size-base;
/* Section alerts */
$alert-section-title: 16px;
$alert-section-padding-top: $s;
$alert-section-padding-bottom: $s;
$alert-section-padding-left: $l - 4px;
$alert-section-padding-right: 0;
// Shared colours
$alert-section-bg: $bc-white;
$alert-section-text: $bc-gray-900;
$alert-section-link: $default-color;
$alert-section-solid-text: $bc-black;
$alert-section-solid-link: $bc-black;
/* Success section alert vars */
// Shared
$alert-section-success-color: $bc-green-500;
// Solid background
$alert-section-success-solid-bg: $bc-green-100;

/* Info section alert vars */
// Shared
$alert-section-info-color: $bc-cerulean-500;
// Solid background
$alert-section-info-solid-bg: $bc-cerulean-100;

/* Warning section alert vars */
// Shared
$alert-section-warning-color: $bc-yellow-900;
// Solid background
$alert-section-warning-solid-bg: $bc-yellow-100;

/* Danger section alert vars */
// Shared
$alert-section-danger-color: $bc-red-500;
// Solid background
$alert-section-danger-solid-bg: $bc-red-100;

/* Inline alerts */
$alert-inline-text: $bc-black;
$alert-inline-padding-top: $s;
$alert-inline-padding-right: 0;
$alert-inline-padding-bottom: $s;
$alert-inline-padding-left: $l - 4px;
$alert-inline-solid-link: $bc-black;
// Success alert
$alert-inline-success-solid-bg: $bc-green-100;
$alert-inline-success-color: $bc-green-500;
// Info alert
$alert-inline-info-solid-bg: $bc-cerulean-100;
$alert-inline-info-color: $bc-cerulean-500;
// Warning alert
$alert-inline-warning-solid-bg: $bc-yellow-100;
$alert-inline-warning-color: $bc-yellow-900;
// Danger alert
$alert-inline-danger-solid-bg: $bc-red-100;
$alert-inline-danger-color: $bc-red-500;
