/* Scalable menu variables
   ========================================================================== */
/**
* References
*
* Meaningful colors: /assets/stylesheets/base/variables/colors.scss
* Links variables: /assets/stylesheets/base/variables/links.scss
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/
/* $mm- prefix for 'mocked-menu' */
$mm-title: 16px;

/* spacing */
$mm-sub-padding: $xxl;

/* colors */
$mm-sub-li-hover: $color-main;
$mm-sub-li-hover: $color-main;
$mm-sub-li-color: $selected-color;
$mm-item-hover: $bc-green-500;
$mm-collapsed-sub-shadow: $bc-black;
$mm-collapsed-sub-item: $bc-gray-900;
$mm-collapsed-sub-item-bg: $bc-white;
$mm-collapsed-sub-wrap: $bc-blue-700;

/* Layout */
$mm-collapsed-sub-width: 165px;
$mm-collapsed-sub-position: $mm-collapsed-width;
$mm-sub-li-border-radius: $selected-border-radius;
$mm-navbar-min-height: 85vh;
