extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Changelog
      h4
        | This page contains EOS's changelog history
    hr
    button.btn.btn-default.changelog-toggle-button.js-changelog-filter
      | Show patch releases
    section.changelog.js-changelog-container
      .changelog-element
        h5.js-version-number
        span.js-changelog-date
