/* UX writing acronyms
   ========================================================================== */
.acronyms-table {
  box-shadow: $acronyms-table-shadow;
  display: flex;
  justify-content: center;
  margin-top: $acronyms-table-margin-top;
  width: 100%;

  tbody {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  tr {
    border-bottom: $acronyms-table-tr-border-bottom;
    display: flex;
    justify-content: space-between;
    padding: $acronyms-table-padding;

    &:last-child {
      border-bottom: 0;
    }

    th {
      font-weight: $acronyms-table-th-font-weight;
      padding: $acronyms-table-padding;
    }

    th:first-child {
      width: 80%;
    }

    th:last-child {
      width: 20%;
    }

  }

  .acronyms-table-header {
    margin-top: $acronyms-table-header-margin-top;

    th {
      font-weight: $acronyms-table-th-title-font-weight;
    }
  }
}
